.bg-login{
    background-image: url('../../assets/images/bg1.jpg');
    height: 100vh !important;
}

.login-image{
    background-image: url('../../assets/images/bg-login.jpg');
    background-size: cover;
}
.bg-login-form{
    background-color: white;
}

label{
    font-weight: bold;
}